<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <title>Job Scrapper</title>
  </head>
  <body>
    <main class="container">
      <hgroup>
        <h1>Search Results for "{{keyword}}":</h1>
        <a href="/export?keyword={{keyword}}" target="_blank">
          <button>File Download</button>
        </a>
      </hgroup>
      <figure>
        <table class="striped">
          <thead>
            <tr>
              <th>포지션</th>
              <th>회사명</th>
              <th>경력</th>
              <th>합격보상</th>
              <th>링크</th>
            </tr>
          </thead>
          <tbody>
            {% for job in jobs %}
            <tr>
              <td>{{job.title}}</td>
              <td>{{job.company_name}}</td>
              <td>{{job.qualification}}</td>
              <td>{{job.reward}}</td>
              <td><a href="{{job.link}}" target="_blank">Apply &rarr;</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </figure>
    </main>
  </body>
</html>
